/* .container {
    width: 300px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} */

.input:hover,
.input:focus {
  border-color: blue;
}

.header {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.button {
  height: 30px;
  margin-top: 5px;
}
